.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-add {
  width: 512px;
  height: 512px;
}
.icon-back {
  width: 512px;
  height: 512px;
}
.icon-btn-arrow {
  width: 12px;
  height: 12px;
}
.icon-btn-user {
  width: 12px;
  height: 12px;
}
.icon-menu {
  width: 512px;
  height: 512px;
}
.icon-popup-close {
  width: 20px;
  height: 20px;
}
.icon-sad {
  width: 512px;
  height: 512px;
}
.icon-search {
  width: 512px;
  height: 512px;
}
