// Colors
$primary-color: #5f97fb;
$secondary-color: #767b91;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$light-color: #ebecef;
$dark-color: #2f313a;

//css
$border-radius: 4px;

